<h2>DETALLE DE USUARIO</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "Nombre completo" %><br />
    <%= f.text_field :fullname, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label "Número de cédula" %><br />
    <%= f.text_field :id_card, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Número de teléfono" %><br />
    <%= f.text_field :phone, class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label "Correo electrónico" %><br />
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Puesto de trabajo" %><br />
    <%= f.text_field :job_position, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Dirección de habitación" %><br />
    <%= f.text_area :address, class: "form-control" %>
  </div>

  <%#  Permitir que se pueda cambiar en caso de ser un administrador a otro usuario. No se puede cambiar así mismo %>
  <div class="field"> 
    <%= f.label "Rol de usuario" %><br />
    <%= f.text_field :role, class: "form-control", value: (resource.role == "admin" ? "Administrador" : "Trabajador"), disabled: true %>
  </div>

  <hr>
  <h5>INFORMACIÓN CONTACTO DE EMERGENCIA</h5>
  <!-- Emergency contact fields -->
  <%= f.fields_for :emergency_contact do |contact_form| %>
    <%= contact_form.label "Nombre completo" %>
    <%= contact_form.text_field :fullname, placeholder: "Ej: Nombre Apellido1 Apellido2", class: "form-control" %>
    
    <%= contact_form.label "Número de teléfono" %>
    <%= contact_form.text_field :phone, placeholder: "Ej: (+506) 8686 8686", class: "form-control" %>
  <% end %>

  <hr>
  <h5>CAMBIO DE CONTRASEÑA</h5>

  <!-- <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %> -->

  <div class="field">
    <%= f.label "Contraseña" %> <i>(Deja el campo en blanco si no deseas cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "#{@minimum_password_length} caracteres mínimo" %>
  </div>

  <div class="field">
    <%= f.label "Confirmar contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "#{@minimum_password_length} caracteres mínimo" %>
  </div>

  <hr>
  <h5>CONFIRMAR CAMBIOS</h5>

  <div class="field text-danger">
    <%= f.label "Contraseña actual" %> <i>(Necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Contraseña actual" %>
  </div>

  <div class="actions">
    <%= f.submit "Actualizar" %>
  </div>
<% end %>

<%= link_to "Regresar", :back %>
