<h2 class="mt-4">DETALLE DE ADMINISTRADOR</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label "Nombre completo *" %><br />
    <%= f.text_field :fullname, autofocus: true, placeholder: "Ej: Nombre Apellido1 Apellido2", class: "form-control" %>
  </div>

  <div>
    <%= f.label "Tipo de identificación *", style: "display: block" %>
    <%= f.select :id_card_type, options_for_select(resource.get_id_card_types, selected: resource.id_card_type), {prompt: "-- Indique el tipo de identificación ---"}, class: "form-select"  %>
  </div>
  
  <div class="field">
    <%= f.label "Número de identificación *" %><br />
    <%= f.text_field :id_card, placeholder: "Ej: 101110111", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Fecha de nacimiento *" %><br />
    <%= f.date_field :birth_date, class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Nacionalidad *" %><br />
    <%= f.text_field :nationality, placeholder: "Ej: Costarricense", class: "form-control" %>
  </div>

  <div>
    <%= f.label "Género *", style: "display: block" %>
    <%= f.select :gender, options_for_select(resource.get_gender_options, selected: resource.gender), {prompt: "-- Seleccione el género ---"}, class: "form-select"  %>
  </div>

  <div>
    <%= f.label "Estado civil *", style: "display: block" %>
    <%= f.select :marital_status, options_for_select(resource.get_marital_status_options, selected: resource.marital_status), {prompt: "-- Seleccione el estado civil ---"}, class: "form-select"  %>
  </div>

  <div>
    <%= f.label "Escolaridad *", style: "display: block" %>
    <%= f.select :education, options_for_select(resource.get_education_options, selected: resource.education), {prompt: "-- Indique el nivel de escolaridad---"}, class: "form-select"  %>
  </div>

  <div class="field">
    <%= f.label "Número de teléfono *" %><br />
    <%= f.text_field :phone, placeholder: "Ej: (+506) 8888 8888", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label "Correo electrónico *" %><br />
    <%= f.email_field :email, autocomplete: "email", placeholder: "Ej: correo@gmail.com", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Puesto de trabajo *" %><br />
    <%= f.text_field :job_position, placeholder: "Ej: Arquitecto", class: "form-control" %>
  </div>
  
  <div class="field">
    <%= f.label "Dirección de habitación *" %><br />
    <%= f.text_area :address, placeholder: "Detalle la ubicación física de domicilio", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Provincia *" %><br />
    <%= f.text_field :province, placeholder: "Ej: Alajuela", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Cantón *" %><br />
    <%= f.text_field :canton, placeholder: "Ej: Naranjo", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Distrito *" %><br />
    <%= f.text_field :district, placeholder: "Ej: Lourdes", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label "Número de cuenta bancaria" %>
    <%= f.text_field :account_number, placeholder: "Número de cuenta bancaria", class:"form-control" %>
  </div>


  <%#  Permitir que se pueda cambiar en caso de ser un administrador a otro usuario. No se puede cambiar así mismo %>
  <div class="field"> 
    <%= f.label "Rol de usuario" %><br />
    <%= f.text_field :role, class: "form-control", value: (resource.role == "admin" ? "Administrador" : "Trabajador"), disabled: true %>
  </div>

  <hr>
  <h5>INFORMACIÓN CONTACTO DE EMERGENCIA</h5>
  <!-- Emergency contact fields -->
  <%= f.fields_for :emergency_contact do |contact_form| %>
    <%= contact_form.label "Nombre completo" %>
    <%= contact_form.text_field :fullname, placeholder: "Ej: Nombre Apellido1 Apellido2", class: "form-control" %>
    
    <%= contact_form.label "Número de teléfono" %>
    <%= contact_form.text_field :phone, placeholder: "Ej: (+506) 8686 8686", class: "form-control" %>
  <% end %>

  <hr>
  <h5>CAMBIO DE CONTRASEÑA</h5>

  <!-- <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %> -->

  <div class="field">
    <%= f.label "Contraseña" %> <i>(Deja el campo en blanco si no deseas cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "#{@minimum_password_length} caracteres mínimo" %>
  </div>

  <div class="field">
    <%= f.label "Confirmar contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "#{@minimum_password_length} caracteres mínimo" %>
  </div>

  <hr>
  <h5>CONFIRMAR CAMBIOS</h5>

  <div class="field text-danger">
    <%= f.label "Contraseña actual" %> <i>(Necesitamos tu contraseña actual para confirmar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Contraseña actual" %>
  </div>

  <div class="actions mt-3">
    <%= f.submit "Actualizar", class: "btn btn-primary" %>
    <%= link_to "Regresar", :back, class: "btn btn-secondary" %>
  </div>
<% end %>