<%= form_with(model: user) do |form| %>
  <% if user.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label "Nombre completo" %>
    <%= form.text_field :fullname, placeholder: "Nombre completo", class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Número de cédula" %>
    <%= form.text_field :id_card, placeholder: "Número de cédula", class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Número de teléfono" %>
    <%= form.text_field :phone, placeholder: "Número de teléfono", class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Correo electrónico" %>
    <%= form.text_field :email, placeholder: "Correo electrónico", class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Puesto de trabajo" %>
    <%= form.text_field :job_position, placeholder: "Puesto de trabajo", class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Dirección de habitación" %>
    <%= form.text_area :address, placeholder: "Dirección de habitación", class:"form-control" %>
  </div>

  <div class="field">
    <%= form.label "Rol de usuario" %>

    <% if user.role == "admin" %>
        <%= form.select :role, options_for_select([['Administrador', "admin"], ['Trabajador', "worker"]]), {}, class: "form-select" %>
    <% else %>
        <%= form.select :role, options_for_select([['Trabajador', "worker"], ['Administrador', "admin"]]), {}, class: "form-select" %>
    <% end %>
  </div>

  <hr>
  <h5>INFORMACIÓN CONTACTO DE EMERGENCIA</h5>
  <!-- Emergency contact fields -->
  <%= form.fields_for :emergency_contact do |contact_form| %>
    <%= contact_form.label "Nombre completo" %>
    <%= contact_form.text_field :fullname, placeholder: "Ej: Nombre Apellido1 Apellido2", class: "form-control" %>
    
    <%= contact_form.label "Número de teléfono" %>
    <%= contact_form.text_field :phone, placeholder: "Ej: (+506) 8686 8686", class: "form-control" %>
  <% end %>

  <hr>

  <div class="actions mt-3">
    <%= form.submit "Actualizar", class: "btn btn-primary" %>
    <%= link_to "Regresar", users_path, class: "btn btn-secondary" %>
  </div>
<% end %>