<div id="<%= dom_id user%>" class="item">
    <div class="item__header">
        <div class="item__heading">
            <h4 class="item__title"><%= current_user == user ? user.fullname + " (Yo)" : user.fullname %></h4> 
            <p class="item__text"><%= user.job_position %></p>
        </div>
        <p class="item__status">
            <% if user.role == "admin" %>
                <%= user.gender == "male" ? "Administrador" : "Administradora" %>
                <% if user.status == false %>
                  / <span class="text-danger" style="font-weight:bold!important; font-style: normal !important;"><%= user.gender == "male" ? "INACTIVO" : "INACTIVA" %></span>
                <% end %>
            <% else %>
                <%= user.gender == "male" ? "Colaborador" : "Colaboradora" %>
                <% if user.status == false %>
                  / <span class="text-danger" style="font-weight:bold!important; font-style: normal !important;"><%= user.gender == "male" ? "INACTIVO" : "INACTIVA" %></span>
                <% end %>
            <% end %>
        </p>
    </div>

    <div class="item__content">
    <div class="item__references">
        <div class="item__reference">
            <p class="item__reference-text fs-5">
                <%= image_tag('phone-icon.svg', alt: "icono numero telefonico", class: "item__reference-icon") %>
                <%= user.phone %>
            </p>
            <%# Agregar link para ir a lista de minutas filtradas por este proyecto %>
            <p class="item__reference-label">Número de teléfono</p> 
        </div>

        <div class="item__reference">
            <p class="item__reference-text fs-5">
                <%= image_tag('email-icon.svg', alt: "icono correo electronico", class: "item__reference-icon") %>
                <%= user.email %>
            </p>
            <%# Agregar link para ir a lista de actividades filtradas por este proyecto %>
            <p class="item__reference-label">Correo electrónico</p>
        </div>
    </div>

    <div class="item__actions">
      <%= link_to edit_user_path(user), user: user, class: "button-outline-primary" do %>
        <i class="bi bi-eye mx-1"></i>
        <span class="item__actions-text">Ver detalles</span>
      <% end %>
    </div>
  </div>
</div>