<div id="<%= dom_id user%>">
    <p>
        <strong>Name:</strong>
        <%= current_user == user ? user.fullname + " (Yo)" : user.fullname %> 
    </p>

    <p>
        <strong>Email:</strong>
        <%= user.email %>
    </p>

    <p>
        <strong>Phone:</strong>
        <%= user.phone %>
    </p>

    <p>
        <strong>Job Position:</strong>
        <%= user.job_position %>
    </p>

    <p>
        <strong>Role:</strong>
        <%= user.role == "admin" ? "Administrador" : "Colaborador" %>
    </p>
</div>