<h2>DETALLE DE USUARIO</h2>

<div id="<%= dom_id @user%>">
    <p>
        <strong>Name:</strong>
        <%= @user.fullname %>
    </p>

    <p>
        <strong>ID Card:</strong>
        <%= @user.id_card %>
    </p>

    <p>
        <strong>Email:</strong>
        <%= @user.email %>
    </p>

    <p>
        <strong>Phone:</strong>
        <%= @user.phone %>
    </p>

    <p>
        <strong>Job Position:</strong>
        <%= @user.job_position %>
    </p>

    <p>
        <strong>Address:</strong>
        <%= @user.address %>
    </p>

    <p>
        <strong>Role:</strong>
        <%= @user.role == "admin" ? "Administrador" : "Trabajador" %>
    </p>

    <hr>
    <h4>Emergency Contact Info</h4>

    <p>
        <strong>Name:</strong>
        <%= !@user.emergency_contact.nil? ? @user.emergency_contact.fullname  : "Sin contacto" %>
    </p>

    <p>
        <strong>Phone:</strong>
        <%= !@user.emergency_contact.nil? ? @user.emergency_contact.phone  : "Sin contacto" %>
    </p>
</div>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%# Pasara a desactivar usuario en vez de eliminar %>
  <!-- <%= button_to "Destroy this user", @user, method: :delete %> -->
</div>
