<%= render 'shared/error_message', object: project %>

<%= form_with(model: project, class: "form form__flex section-bg", data: { controller: "project-stage" }) do |form| %>
  <div class="form__field">
    <%= form.label "Nombre del proyecto", class: "form__label" %>
    <%= form.text_field :name, class: "form__input", placeholder: "Ej: CASA SABANA" %>
  </div>

  <div class="form__flex form__flex--row">
    <div class="form__field ">
      <%= form.label "Fecha de inicio", class: "form__label" %>
      <%= form.date_field :start_date, placeholder: "Fecha de inicio", class: "form__input" %>
    </div>
    
    <div class="form__field ">
      <%= form.label "Fecha de cierre", class: "form__label" %>
      <%= form.date_field :scheduled_deadline, placeholder: "Fecha de cierre", class: "form__input" %>
    </div>
  </div>

  <div class="form__field" data-controller="dropdown-search update-fields">
    <%= form.label "Encargado", class: "form__label" %>
    <%= form.hidden_field :user_id, data: {id: "hidden-input"}%>
    
    <input type="text" name="users" class="form__input form-select search-bar" autocomplete="off" data-action="click->dropdown-search#openDropdown keyup->dropdown-search#searchInput" data-value="" placeholder="- Selecciona una opción -">
    <div class="dropdown-list" data-dropdown-type="form">
      <% @admins.each do |a| %>
        <div class="dropdown-list__item" data-value="<%= a.id %>">
          <%= a.fullname %>
        </div>
      <% end %>
    </div>

    <% if !project.new_record? %>
      <input type="text" id="hidden-name" value="<%= project.user.fullname%>" disabled="true" hidden>  
    <% end %>
  </div>

  <div class="form__field">
    <%= form.label "Ubicación", class: "form__label" %>
    <%= form.text_area :location, class: "form__input", placeholder: "Detalle la ubicación física del proyecto", rows: "5" %>
  </div>

  <div class="form__flex form__flex--row">
    <div class="form__field ">
      <%= form.label "Etapa", class: "form__label" %>
      <%= form.select :stage, options_for_select(project.get_stage_options, selected: project.stage), {prompt: "- Seleccione una etapa -"}, class: "form__input form-select", data: { project_stage_target: "stage", action: "change->project-stage#toggleStage" }  %>
    </div>
    
    <div class="form__field ">
      <%= form.label "Estado de la etapa", class: "form__label" %>
      <%= form.select :stage_status, options_for_select(project.get_status_options, selected: project.stage_status), {prompt: "- Seleccione un estado -"}, class: "form__input form-select", data: { project_stage_target: "status"}  %>
    </div>
  </div>  

  <div class="form__flex form__flex--row justify-content-between">
    <div class="form__actions mt-3">
      <%= form.submit project.new_record? ? "Guardar" : "Actualizar", class: "button-primary" %>
      <%= link_to "Regresar", "#", class: "button-secondary", data: {action: "click->navigation#goBack"} %>
    </div>

    <%# RENDER CHANGE LOG %>
    <%= render 'shared/change_log', object: @project_change_log %>
  </div>
<% end %>