<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Nombre del proyecto", style: "display: block" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Ej: CASA SABANA" %>
  </div>

  <div>
    <%= form.label "Fecha de inicio", style: "display: block" %>
    <%= form.date_field :start_date, class: "form-control" %>
  </div>

  <div>
    <%= form.label "Fecha de cierre programado", style: "display: block" %>
    <%= form.date_field :scheduled_deadline, class: "form-control" %>
  </div>

  <div>
    <%= form.label "Encargado", style: "display: block" %>
    <%= form.select :user_id, options_for_select(@admins.collect { |a| [a.fullname, a.id] }, selected: project.user_id), { prompt: "-- Seleccione un encargado ---" }, class: "form-select"  %>
  </div>

  <div>
    <%= form.label "Ubicación", style: "display: block" %>
    <%= form.text_area :location, class: "form-control", placeholder: "Detalle la ubicación física del proyecto" %>
  </div>

  <div>
    <%= form.label "Etapa", style: "display: block" %>
    <%= form.select :stage, options_for_select(project.get_stage_options, selected: project.stage), { prompt: "-- Seleccione una etapa ---" }, class: "form-select"  %>
  </div>

  <div>
    <%= form.label "Estado de la etapa", style: "display: block" %>
    <%= form.select :stage_status, options_for_select(project.get_status_options, selected: project.stage_status), { prompt: "-- Seleccione un estado ---" }, class: "form-select"  %>
  </div>

  <div class="actions mt-3">
    <%= form.submit project.new_record? ? "Guardar" : "Actualizar", class: "btn btn-primary" %>
    <%= link_to "Regresar", projects_path, class: "btn btn-secondary" %>
  </div>
<% end %>
