<div id="<%= dom_id project %>">
  <p>
    <strong>Nombre del proyecto:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Encargado:</strong>
    <%= project.user.fullname %> 
  </p>

  <p>
    <strong>Etapa:</strong>
    <%= project.get_humanize_stage %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= project.get_humanize_status  %>
  </p>

  <p>
    <strong>Actividades registradas:</strong>
    <%= project.activities.count %> <%# Agregar link para ir a lista de actividades filtradas por este proyecto %>
  </p>

  <p>
    <strong>Minutas registradas:</strong>
    <%= project.minutes.count  %> <%# Agregar link para ir a lista de actividades minutas por este proyecto %>
  </p>
</div>
