<div id="<%= dom_id project %>">
  <p>
    <strong>Name:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= project.start_date %>
  </p>

  <p>
    <strong>Scheduled deadline:</strong>
    <%= project.scheduled_deadline %>
  </p>

  <p>
    <strong>Encargado:</strong>
    <%= project.user.fullname %> 
  </p>

  <p>
    <strong>Location:</strong>
    <%= project.location %>
  </p>

  <p>
    <strong>Stage:</strong>
    <%= project.stage %>
  </p>

  <p>
    <strong>Stage status:</strong>
    <%= project.stage_status %>
  </p>

</div>
