<%# Project Item Partial %>
<%# The SCSS styles for this view can be found in the app/assets/stylesheets/custom folder. The specific stylesheets for this view are named: _card_list and _utilities %>
<div id="<%= dom_id project %>" class="item">
  <div class="item__header">
    <div class="item__heading">
      <h4 class="item__title"><%= truncate(project.name, length: 45, omission: '...') %></h4>  <%# Over 45 caracters it truncates the projects name for a better UI %>
      <a href="<%= edit_user_path(project.user) %>" class="item__text clean-link"><%= project.user.fullname %></a>
    </div>
    <% if project.stage == "finished" %>
      <p class="item__status fw-bold fst-normal txt-primary text-uppercase"> <%= project.get_humanize_stage %> <span class="item__status-divider">/</span> <%= project.get_humanize_status  %></p>
    <% else %>
      <p class="item__status"> <%= project.get_humanize_stage %> <span class="item__status-divider">/</span> <%= project.get_humanize_status  %></p>
    <% end %>
  </div>

  <div class="item__content">
    <div class="item__references">
      <%# Redirect to activities path filtered by project id %>
      <a href="<%= activities_path(q: { project_id_eq: project.id })%>" class="item__reference clean-link">
        <p class="item__reference-text">
          <%= image_tag('activities-icon.svg', alt: "icono actividades asociadas", class: "item__reference-icon") %>
          <%= project.activities.count %>
        </p>
        <p class="item__reference-label">Actividades asociadas</p>
      </a>
      
      <%# Redirect to minutes path filtered by project id %>
      <a href="<%= minutes_path(q: { project_id_eq: project.id })%>" class="item__reference clean-link">
        <p class="item__reference-text">
          <%= image_tag('minutes-icon.svg', alt: "icono actividades asociadas", class: "item__reference-icon") %>
          <%= project.minutes.count  %>
        </p>
        <p class="item__reference-label">Minutas asociadas</p> 
      </a>
    </div>

    <div class="item__actions">
      <%= link_to project, class: "button-outline-primary" do %>
        <i class="bi bi-eye mx-1"></i>
        <span class="item__actions-text">Ver detalles</span>
      <% end %>

      <%# rendered only if the project does not have any associations (minutes or activities) %>
      <% if !project.has_associated_minutes_and_activities? %>
        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal<%=project.id%>" class="button-outline-danger">
            <i class="bi bi-trash3 mx-1"></i>
            <span class="item__actions-text">Eliminar</span>
        </button>

        <%# Render the delete confirmation modal %>
        <%= render 'shared/delete_confirm', object: project %>
      <% end %>
    </div>
  </div>
</div>
