<div id="<%= dom_id project %>">
  <p>
    <strong>Nombre del proyecto:</strong>
    <%= project.name %>
  </p>

  <p>
    <strong>Fecha de inicio:</strong>
    <%= project.start_date.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Fecha de cierre programado:</strong>
    <%= project.scheduled_deadline.strftime('%d/%m/%Y') %>
  </p>

  <p>
    <strong>Encargado:</strong>
    <%= project.user.fullname %> 
  </p>

  <p>
    <strong>Ubicación del proyecto:</strong>
    <%= project.location %>
  </p>

  <p>
    <strong>Etapa:</strong>
    <%= project.get_humanize_stage %>
  </p>

  <p>
    <strong>Estado:</strong>
    <%= project.get_humanize_status  %>
  </p>
</div>
