<div id="<%= dom_id project %>" class="item">
  <div class="item__header">
    <div class="item__heading">
      <h4 class="item__title"><%= project.name %></h4> 
      <p class="item__text"><%= project.user.fullname %></p>
    </div>
    <p class="item__status"> <%= project.get_humanize_stage %> <span class="item__status-divider">/</span> <%= project.get_humanize_status  %></p>
  </div>

  <div class="item__content">
    <div class="item__references">
      <a href="<%= activities_path(q: { project_id_eq: project.id })%>" class="item__reference clean-link">
        <p class="item__reference-text">
          <%= image_tag('activities-icon.svg', alt: "icono actividades asociadas", class: "item__reference-icon") %>
          <%= project.activities.count %>
        </p>
        <%# Agregar link para ir a lista de actividades filtradas por este proyecto %>
        <p class="item__reference-label">Actividades asociadas</p>
      </a>
      
      <a href="<%= minutes_path(q: { project_id_eq: project.id })%>" class="item__reference clean-link">
        <p class="item__reference-text">
          <%= image_tag('minutes-icon.svg', alt: "icono actividades asociadas", class: "item__reference-icon") %>
          <%= project.minutes.count  %>
        </p>
        <%# Agregar link para ir a lista de minutas filtradas por este proyecto %>
        <p class="item__reference-label">Minutas asociadas</p> 
      </a>
    </div>

    <div class="item__actions">
      <%= link_to project, class: "button-outline-primary" do %>
        <i class="bi bi-eye mx-1"></i>
        <span class="item__actions-text">Ver detalles</span>
      <% end %>

      <% if !project.has_associated_minutes_and_activities? %>
        <button type="button" data-bs-toggle="modal" data-bs-target="#deleteModal<%=project.id%>" class="button-outline-danger">
            <i class="bi bi-trash3 mx-1"></i>
            <span class="item__actions-text">Eliminar</span>
        </button>

        <%= render 'shared/delete_confirm', object: project %>
      <% end %>
    </div>
  </div>
</div>
