<!-- <p style="color: green"><%= notice %></p> --> 

<main data-view-id="1" class="main">
  <div class="header">
    <div class="header__content">
      <div class="header__heading">
        <p class="header__subtitle">GESTIÓN DE PROYECTOS</p>
        <h1 class="header__title">LISTA DE PROEYECTOS</h1>
      </div>
      
      <div class="header__actions">
        <div class="header__actions header__actions--tablet">
          <%= link_to new_project_path, class: "button-primary" do %>
            <%= image_tag('add-icon.svg', alt: "icono agregar proyecto", class: "sidebar__icon") %>
            <span class="ms-1">Agregar proyecto</span>
          <% end %>
        </div>
      
        <%= render 'shared/sidebar_button' %>
      </div>
    </div>

    <div class="header__actions header__actions--phone">
      <%= link_to new_project_path, class: "button-primary" do %>
        <%= image_tag('add-icon.svg', alt: "icono agregar proyecto", class: "sidebar__icon") %>
        <span class="ms-1">Agregar proyecto</span>
      <% end %>
    </div>
  </div>
  
  <div id="projects">
    <% @projects.each do |project| %>
      <div class="mt-3">
        <%= render project %>
      </div>
  
      <div class="d-flex align-items-center mt-3 gap-1">
        <%= link_to "Ver detalles", edit_project_path(project), class: "btn btn-outline-primary" %>
  
        <% if !project.has_associated_minutes_and_activities? %>
          <%= button_to 'Eliminar', project, method: :delete, form:{ data: { turbo_confirm: '¿Está seguro(a) de que desea eliminar este proyecto?' }} , class: "btn btn-outline-danger"%>
        <% end %>
      </div>
    <% end %>
  </div>
</main >
