<%= form_with(model: minute, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper', form_model: "minutes" }, class: "d-flex flex-column gap-3") do |form| %>
  <% if minute.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(minute.errors.count, "error") %> prohibited this minute from being saved:</h2>

      <ul>
        <% minute.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Titulo de la reunión", style: "display: block" %>
    <%= form.text_field :meeting_title, placeholder: "Ingrese un titulo descriptivo", class: "form-control" %>
  </div>

  <div>
    <%= form.label "Proyecto", style: "display: block" %>
    <%= form.select :project_id, options_for_select(@projects.collect { |pr| [pr.name, pr.id] }, selected: minute.project_id), { prompt: "-- Seleccione un proyecto --"}, class: "form-select" %>
  </div>

  <div>
    <%= form.label "Fecha de la reunión", style: "display: block" %>
    <%= form.date_field :meeting_date, class: "form-control" %>
  </div>

  <div>
    <%= form.label "Hora de inicio", style: "display: block" %>
    <%= form.time_field :start_time, class: "form-control" %>
  </div>

  <div>
    <%= form.label "Hora de fin", style: "display: block" %>
    <%= form.time_field :end_time, class: "form-control" %>
  </div>

  <div>
    <%= form.label "Objetivos de la reunión", style: "display: block" %>
    <%= form.text_area :meeting_objectives, placeholder: "Enumere los objetivos de la reunión", class: "form-control" %>
  </div>

  <div>
    <div class="d-flex justify-content-between align-items-center">
      <%= form.label "Lista de asistentes", style: "display: block" %>
      <button type="button" class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#usersModal">Agregar asistente</button>
    </div>

    <table class="table mb-0">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Cargo</th>
          <th></th>
        </tr>
      </thead>
    </table>
    
  <%# Start Attendees Nested Form %>
    <template data-nested-form-target="template">
      <%= form.fields_for :minutes_users, MinutesUser.new, child_index: 'NEW_RECORD' do |minutes_user| %>
        <%= render "minute_user_form", f: minutes_user, attendees: @attendees %>
      <% end %>
    </template>

    <%= form.fields_for :minutes_users do |minutes_user| %>
      <%= render "minute_user_form", f: minutes_user, attendees: @attendees %>
    <% end %>

    <!-- Inserted elements will be injected before that target. -->
    <div data-nested-form-target="target"></div>
  <%# End Attendees Nested Form %>
  </div>

  <div>
    <%= form.label "Temas tratados", style: "display: block" %>
    <%= form.text_area :discussed_topics, placeholder: "Enumere los temas tratados en la reunión", class: "form-control" %>
  </div>

  <div>
    <%= form.label "Temas pendientes", style: "display: block" %>
    <%= form.text_area :pending_topics, placeholder: "Enumere los temas que quedaron pendientes de discutir", class: "form-control" %>
  </div>

  <div>
    <%= form.label "Acuerdos", style: "display: block" %>
    <%= form.text_area :agreements, placeholder: "Enumere los acuerdos establecidos en la reunión", class: "form-control" %>
  </div>

  <div>
    <%= form.label "Comentarios u observaciones", style: "display: block" %>
    <%= form.text_area :meeting_notes, placeholder: "Anote cualquier observación o comentario", class: "form-control" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit minute.new_record? ? "Guardar" : "Actualizar", class: "btn btn-primary" %>
    <%= link_to "Regresar", minutes_path, class: "btn btn-secondary" %>
  </div>

  <%# Users Modal %>
  <%= render "minutes/users_modal", attendees: @attendees %>
<% end %>

<% if !minute.new_record? %>
  <div class="d-flex justify-content-end">
    <%= button_to 'Eliminar', @minute, method: :delete, form:{ data: { turbo_confirm: 'Esta acción es irreversible y será registrada en el historial de cambios. ¿Está seguro(a) de que desea eliminar esta minuta?' }} , class: "btn btn-outline-danger"%>
  </div>
<% end %>
