<div id="<%= dom_id minute %>">
  <p>
    <strong>Titulo de reunión:</strong>
    <%= minute.meeting_title %>
  </p>

  <p>
    <strong>Proyecto:</strong>
    <%= minute.project.name %>
  </p>

  <p>
    <strong>Fecha de reunión:</strong>
    <%= minute.meeting_date %>
  </p>

  <p>
    <strong>Asistentes:</strong>
    # <%# Numero de asistentes proveniente de la tabla relacion %>
  </p>

  <p>
    <strong>Duración:</strong>
    <%= minute.get_meeting_duration %> h
  </p>

</div>
