<div class="nested-form-wrapper form__table-data" data-new-record="<%= f.object.new_record? %>" data-controller="update-fields" data-form-model="minutes">
  <%= f.hidden_field :user_id %>
  <input type="text" class="form-control-plaintext nested-input-text ps-3" readonly>
  <input type="text" class="form-control-plaintext nested-input-position" readonly>

  <select class="d-none" id="selectList">
      <% if !attendees.nil? %>
        <% attendees.each do |a| %>
            <option value="<%= a.id %>" data-job-position="<%= a.job_position %>"><%= a.fullname %></option>
        <% end %>
      <% end %>
  </select>

  <%# f.select :user_id, options_for_select(@attendees.collect { |a| [a.fullname, a.id] }), {prompt: "- Seleccione un asistente -"}, class: "form-select"  %>
  <button type="button" data-action="click->nested-form#hide click->nested-form#remove" class="btn text-danger fs-3 pe-3">&times;</button>
  <%= f.hidden_field :_destroy %>
</div>