<div id="<%= dom_id minute %>">
  <p>
    <strong>Meeting title:</strong>
    <%= minute.meeting_title %>
  </p>

  <p>
    <strong>Project:</strong>
    <%= minute.project.name %>
  </p>

  <p>
    <strong>Meeting date:</strong>
    <%= minute.meeting_date %>
  </p>

  <p>
    <strong>Start time:</strong>
    <%= minute.start_time %>
  </p>

  <p>
    <strong>End time:</strong>
    <%= minute.end_time %>
  </p>

  <p>
    <strong>Meeting objectives:</strong>
    <%= minute.meeting_objectives %>
  </p>

  <p>
    <strong>Discussed topics:</strong>
    <%= minute.discussed_topics %>
  </p>

  <p>
    <strong>Pending topics:</strong>
    <%= minute.pending_topics %>
  </p>

  <p>
    <strong>Agreements:</strong>
    <%= minute.agreements %>
  </p>

  <p>
    <strong>Meeting notes:</strong>
    <%= minute.meeting_notes %>
  </p>

</div>
