<!-- <p style="color: green"><%= notice %></p> -->

<main data-view-id="8">
  <div class="d-flex justify-content-between align-items-center">
    <h1 class="mt-4">LISTA DE MINUTAS</h1>
    <div class="d-flex align-items-center gap-2">
        <%= link_to "Agregar minuta", new_minute_path, class: "btn btn-primary" %>
        <%= render "shared/sidebar_button" %>
    </div>
  </div>
  
  <div id="minutes">
    <% @minutes.each do |minute| %>
      <%= render minute %>
      <p>
        <%= link_to "Ver detalles", minute, class: "btn btn-outline-primary" %>
      </p>
    <% end %>
  </div>
</main>