<section class="d-flex justify-content-center align-items-center vh-100">
  <div class="col-5 shadow rounded p-5">
    <h2 class="text-center fw-bold mb-4">INICIO DE SESIÓN</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label "Correo electrónico" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Correo electrónico", class: "form-control w-100" %>
      </div>
    
      <div class="field">
        <%= f.label "Contraseña" %>
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "Contraseña", class: "form-control w-100" %>
      </div>
    
      <div class="actions d-flex justify-content-between align-items-center mt-3">
        <%= f.submit "Iniciar sesión", class: "btn btn-primary" %>
        <%= render "devise/shared/links" %>
      </div>
    <% end %>
  </div>
</section>