<main class="login">
  <div class="login__content">
    <div class="login__logo">
      <%= image_tag("login-icon.svg", alt: "Logo inicio de sesión", class: "login__icon") %>
      <h1 class="login__title">INICIO DE SESIÓN</h1>
    </div>
    
    <div class="form login__form">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="form__flex">
          <div class="form__field">
            <label for="email" class="form__label form__label--primary">
              <i class="bi bi-envelope me-1"></i>
              Correo electrónico
            </label>
          
            <%= f.email_field :email, autocomplete: "email", class: "form__input", placeholder: "Ingrese su correo electrónico" %>
          </div>
          
          <div class="form__field">
            <label for="email" class="form__label form__label--primary">
              <i class="bi bi-shield-lock me-1"></i>
              Contraseña
            </label>
            <%= f.password_field :password, autocomplete: "current-password", class: "form__input", placeholder: "Ingrese su contraseña" %>
          </div>
          
          <div class="form__field">
            <%= f.submit "Iniciar sesión", class: "button-primary fw-bold w-100" %>
          </div>
        </div>
      <% end %>
    </div>
    
    <div class="login__links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</main>