<main class="d-flex justify-content-center align-items-center vh-100">
  <section class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4 row">
    
    <div class="text-center mb-2 mb-3">
      <h1 class="fw-bold">INICIO DE SESIÓN</h1>
    </div>
    
    <div class="py-5 px-4 shadow rounded-3 bg-white mb-3">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field mb-3">
          <%= f.label "Correo electrónico" %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Ingrese su correo electrónico", class: "form-control w-100" %>
        </div>
      
        <div class="field mb-4">
          <%= f.label "Contraseña" %>
          <%= f.password_field :password, autocomplete: "current-password", placeholder: "Ingrese su contraseña", class: "form-control w-100" %>
        </div>
      
        <div class="actions d-flex justify-content-between align-items-center">
          <%= f.submit "Iniciar sesión", class: "btn btn-primary w-100 fw-bold" %>
        </div>
      <% end %>
    </div>
    
    <%= render "devise/shared/links" %>
  </section>
</main>