<%# Activities Filters Partial %>
<%# The SCSS styles for this view can be found in the app/assets/stylesheets/custom folder. The specific stylesheets for this view are named: _filters, _form and _dropdown %>
<%# The data-controller="filters" is a Stimulus controller located in the app/javascript/controllers folder as filters_controller.js %>

<section class="filters" data-controller="filters">
    <div class="filters__header">
        <a class="filters__toggle" data-action="click->filters#toggle">
            <h4 class="filters__title">
                <%= image_tag("filter-icon.svg", alt: "icono seccion filtros", class: "sidebar__icon") %>FILTROS
            </h4>
            <span id="toggle" data-name="activities"><i class="bi bi-caret-down-fill"></i></span>
        </a>
    </div>

    <div class="filters__content">
        <div class="card card-body border-0 p-0 pt-3">
           <%= search_form_for @q, class: "form" do |f| %>
                <div class="form__grid">
                    <div class="form__field" data-controller="dropdown-search update-fields">
                        <%= f.label :user_id_eq, "Colaborador", class: "form__label" %>
                        <%= f.hidden_field :user_id_eq, data: {id: "hidden-input"}%>
                        
                        <input type="text" name="users" class="form__input form-select search-bar" autocomplete="off" data-action="click->dropdown-search#openDropdown keyup->dropdown-search#searchInput" data-value="" placeholder="- Selecciona una opción -">
                        <div class="dropdown-list" data-dropdown-type="form">
                            <% @collaborators.each do |c| %>
                                <div class="dropdown-list__item" data-value="<%= c.id %>">
                                <%= c.fullname %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="form__field" data-controller="dropdown-search update-fields">
                        <%= f.label :project_id_eq, "Proyecto", class: "form__label" %>
                        <%= f.hidden_field :project_id_eq, data: {id: "hidden-input"}%>
                        
                        <input type="text" name="projects" class="form__input form-select search-bar" autocomplete="off" data-action="click->dropdown-search#openDropdown keyup->dropdown-search#searchInput" data-value="" placeholder="- Selecciona una opción -">
                        <div class="dropdown-list" data-dropdown-type="form">
                            <% @projects.each do |p| %>
                                <div class="dropdown-list__item" data-value="<%= p.id %>">
                                <%= p.name %>
                                </div>
                            <% end %>
                        </div>
                    </div>

                    <div class="form__field">
                        <%= f.label :date_gteq, "Fecha incial", class: "form__label" %>
                        <%= f.date_field :date_gteq, class: "form__input" %>
                    </div>

                    <div class="form__field">
                        <%= f.label :date_lteq, "Fecha final", class: "form__label" %>
                        <%= f.date_field :date_lteq, class: "form__input" %>
                    </div>
                </div>

                <div class="form__action">
                    <button type="submit" class="button-primary">
                        <i class="bi bi-search me-2"></i>
                        Buscar
                    </button>
                </div>
            <% end %>
        </div>
    </div>
</section>