<div id="<%= dom_id activity %>">
  <p>
    <strong>Trabajador:</strong>
    <%= activity.user.fullname %>
  </p>

  <p>
    <strong>Proyecto:</strong>
    <%= activity.project.name %>
  </p>

  <p>
    <strong>Fase trabajada:</strong>
    <%= activity.phase.code + " - " + activity.phase.name %>
  </p>

  <p>
    <strong>Horas trabajadas:</strong>
    <%= activity.worked_hours %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= activity.date.strftime('%d/%m/%Y') %>
  </p>

</div>
