<div id="<%= dom_id activity %>">
  <p>
    <strong>Colaborador:</strong>
    <%= activity.user.fullname %>
  </p>

  <p>
    <strong>Proyecto:</strong>
    <%= activity.project.name %>
  </p>

  <p>
    <% if activity.phases.count > 1 %>
      <strong>Fases asociadas:</strong>
      <%= activity.phases.count %>
    <% else %>
      <strong>Fase asociada:</strong>
      <%= activity.phases[0].code + " - " + activity.phases[0].name %>
    <% end %>
  </p>

  <p>
    <strong>Horas trabajadas:</strong>
    <%= activity.worked_hours %>
  </p>

  <p>
    <strong>Fecha:</strong>
    <%= activity.date.strftime('%d/%m/%Y') %>
  </p>

</div>
