<%= form_with(model: activity, data: { controller: 'nested-form add-phase', nested_form_wrapper_selector_value: '.nested-form-wrapper' }, class: "d-flex flex-column gap-3") do |form| %>
  <% if activity.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>

      <ul>
        <% activity.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Proyecto", style: "display: block" %>
    <%= form.select :project_id, options_for_select(@projects.collect { |pr| [pr.name, pr.id] }, selected: activity.project_id), { prompt: "-- Seleccione un proyecto --" }, class: "form-select" %>
  </div>

  <div>
    <%= form.label "Colaborador", style: "display: block" %>
    <%= form.select :user_id, options_for_select(@collaborators.collect { |w| [w.fullname, w.id] }, selected: activity.user_id), { prompt: "-- Seleccione un colaborador --" }, class: "form-select" %>
  </div>

  <div>
    <%= form.label "Fecha", style: "display: block" %>
    <%= form.date_field :date, class: "form-control" %>
  </div>

  <div>
     <div class="d-flex justify-content-between align-items-center mt-2">
      <%= form.label "Fases seleccionadas", style: "display: block" %>
      <button type="button" data-bs-toggle="modal" data-bs-target="#phasesModal" id="addPhase" class="btn btn-outline-primary">Seleccionar fase</button>
    </div>

    <table class="table mb-0">
      <thead>
        <tr>
          <th style="width: 40%;">Fase</th> <%# Add responsive width %>
          <th>Horas trabajadas</th>
          <th></th>
        </tr>
      </thead>
    </table>

    <%# Start Phases_Activities Nested Form %>
      <template data-nested-form-target="template">
      <%= form.fields_for :phases_activities, PhasesActivity.new, child_index: 'NEW_RECORD' do |phase_activity| %>
        <%= render "activities/phase_activity_form", f: phase_activity, phases: @phases %>
      <% end %>
    </template>

    <%= form.fields_for :phases_activities do |phase_activity| %>
      <%= render "activities/phase_activity_form", f: phase_activity, phases: @phases %>
    <% end %>

    <!-- Inserted elements will be injected before that target. -->
    <div data-nested-form-target="target"></div>
    <%# End Phases_Activities Nested Form %>
  </div>

  <div>
    <%= form.label "Total de horas realizadas", style: "display: block" %>
    <%= form.number_field :worked_hours, placeholder: "Suma de horas por fase", class: "form-control", min: 1,  max: 24, readonly:false %>
  </div>

  <div class="actions mt-3">
    <%= form.submit activity.new_record? ? "Guardar" : "Actualizar", class: "btn btn-primary" %>
    <%= link_to "Regresar", activities_path, class: "btn btn-secondary" %>
  </div>

  <%# MODAL %>
  <%= render 'activities/phase_hours_modal', phases: @phases %>
<% end %>

<% if !activity.new_record? %>
  <div class="d-flex justify-content-end">
    <%= button_to 'Eliminar', @activity, method: :delete, form:{ data: { turbo_confirm: 'Esta acción es irreversible y será registrada en el historial de cambios. ¿Está seguro(a) de que desea eliminar esta actividad?' }} , class: "btn btn-outline-danger"%>
  </div>
<% end %>