<%# 
Activity Form Partial

This code represents a partial for an activity form. The form is rendered using the form_with helper and has several
form fields and associated components.

The form includes fields for "Proyecto" (Project), "Colaborador" (Collaborator), "Fecha" (Date), "Actividades realizadas" 
(Activities Performed), and "Total de horas realizadas" (Total Hours Worked).

The "Proyecto" field is a dropdown search input field that allows the user to search and select a project from 
a list of options. The "Colaborador" field is also a dropdown search input field for selecting a collaborator from 
a list of options. The "Fecha" field is a date input field for entering the activity's date. The "Actividades realizadas" 
section includes a table for adding and displaying the activities performed. It includes columns for "Fase" (Phase) and "Horas"
(Hours). The "Total de horas realizadas" field displays the total sum of hours entered for the activities.

The form includes submit and cancel buttons for saving or updating the activity and returning to the previous page. The form 
also renders a change log component and a modal for managing phase hours.

This partial provides a comprehensive form for creating or editing activity records, allowing users to input project, 
collaborator, date, and activity details efficiently.
%>

<%= render 'shared/error_message', object: activity %>

<%= form_with(model: activity, data: { controller: 'nested-form', nested_form_wrapper_selector_value: '.nested-form-wrapper', form_model: "activities" }, class: "form form__flex section-bg") do |form| %>
  <div class="form__field" data-controller="dropdown-search update-fields">
    <%= form.label "Proyecto", class: "form__label" %>

    <%= form.hidden_field :project_id, data: {id: "hidden-input"}%>
    <input type="text" name="projects" class="form__input form-select search-bar" autocomplete="off" data-action="click->dropdown-search#openDropdown keyup->dropdown-search#searchInput" data-value="" placeholder="- Selecciona una opción -">
    <div class="dropdown-list" data-dropdown-type="form">
      <% @open_projects.each do |p| %>
        <div class="dropdown-list__item" data-value="<%= p.id %>">
          <%= p.name %>
        </div>
      <% end %>
    </div>

    <% if !activity.new_record? %>
      <input type="text" data-id="hidden-name" value="<%= activity.project.name %>" disabled="true" hidden>
    <% end %>
  </div>

  <div class="form__field" data-controller="dropdown-search update-fields">
    <%= form.label "Colaborador", class: "form__label" %>
    <%= form.hidden_field :user_id, data: {id: "hidden-input"}%>
    
    <input type="text" name="users" class="form__input form-select search-bar" autocomplete="off" data-action="click->dropdown-search#openDropdown keyup->dropdown-search#searchInput" data-value="" placeholder="- Selecciona una opción -">
    <div class="dropdown-list" data-dropdown-type="form">
      <% @active_collaborators.each do |c| %>
        <div class="dropdown-list__item" data-value="<%= c.id %>">
          <%= c.fullname %>
        </div>
      <% end %>
    </div>

    <% if !activity.new_record? %>
      <input type="text" data-id="hidden-name" value="<%= activity.user.fullname%>" disabled="true" hidden>  
    <% end %>
  </div>

  <div class="form__field">
    <%= form.label "Fecha", class: "form__label" %>
    <%= form.date_field :date, class: "form__input" %>
  </div>

  <div class="form__field">
    <div class="form__flex form__flex--row gap-1 justify-content-between mb-2">
      <%= form.label "Actividades realizadas", class: "form__label" %>
      <button type="button" data-bs-toggle="modal" data-bs-target="#phasesModal" id="addPhase" class="button-outline-primary button-outline-primary--sm">Agregar actividad</button>
    </div>

    <div class="form__table">
      <div class="form__table-head">
        <label class="form__label">Fase</label>
        <label class="form__label">Horas</label>
      </div>

      <p id="emptyMessage" class="text-center text-black-50 fst-italic my-2 fs-xs"><i class="bi bi-info-circle me-2"></i>Agrega al menos una actividad</p>
      
      <div class="form__table-body">
        <%# Start Phases_Activities Nested Form %>
        <template data-nested-form-target="template">
          <%= form.fields_for :phases_activities, PhasesActivity.new, child_index: 'NEW_RECORD' do |phase_activity| %>
            <%= render "activities/phase_activity_form", f: phase_activity, phases: @phases %>
          <% end %>
        </template>
        
        <%= form.fields_for :phases_activities do |phase_activity| %>
          <%= render "activities/phase_activity_form", f: phase_activity, phases: @phases %>
        <% end %>
        
        <!-- Inserted elements will be injected before that target. -->
        <div data-nested-form-target="target"></div>
        <%# End Phases_Activities Nested Form %>
      </div>
    </div>
  </div>

  <div class="form__field">
    <%= form.label "Total de horas realizadas", class: "form__label" %>
    <input type="number" id="totalHours" placeholder="Suma de horas por actividad" class="form__input" readonly>
  </div>

  <div class="form__flex form__flex--row justify-content-between">
    <div class="form__actions mt-3">
      <%= form.submit activity.new_record? ? "Guardar" : "Actualizar", class: "button-primary" %>
      <%= link_to "Regresar", "#", class: "button-secondary", data: {action: "click->navigation#goBack"} %>
    </div>

    <%# RENDER CHANGE LOG %>
    <%= render 'shared/change_log', change_log: @activity_change_log, object: @activity %>
  </div>

  <%# MODAL %>
  <%= render 'activities/phase_hours_modal', phases: @phases %>
<% end %>