<div class="nested-form-wrapper d-flex justify-content-between align-items-center py-3 border-bottom" data-new-record="<%= f.object.new_record? %>" data-controller="update-fields" data-form-model="activities">
    <%= f.hidden_field :phase_id %>
    <input type="text" class="form-control-plaintext nested-input-text" readonly>

    <%= f.number_field :hours, class: "form-control-plaintext nested-input-hours", readonly: true %>

    <select class="d-none" id="selectList">
        <% if !phases.nil? %>
            <% phases.each do |p| %>
                <option value="<%= p.id %>"><%= p.code %> <%= p.name %></option>
            <% end %>
        <% end %>
    </select>


    <button type="button" data-action="nested-form#hide nested-form#remove" class="button-danger">&times;</button>
    <%= f.hidden_field :_destroy %>
</div>