
<div class="modal fade" id="reportModal" tabindex="1" aria-labelledby="reportModalLabel" aria-hidden="true" data-controller="dropdown-search reports-modal">
    <div class="modal-dialog">
        <div class="modal-content p-3">
            <div class="modal-header">
                <div class="header__heading">
                    <p class="header__subtitle">GESTIÓN DE ACTIVIDADES</p>
                    <h1 class="fw-bold">REPORTE DE ACTIVIDADES</h1>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-flex flex-column gap-3">
                <%= form_with url: activities_report_path, method: :post, class: "form form__flex", id: "generate-form" do |f| %>
                    <div class="form__field" data-action="change->reports-modal#toggleForm">
                        <%= f.label :report_type, 'Tipo de reporte', class: "form__label" %>
                        <%= f.select :report_type, [['Reporte por colaboradores activos', 'general'], ['Reporte por colaborador', 'collaborator'], ['Reporte personalizado', 'custom']], { prompt: "- Selecciona el tipo de reporte -" }, class: "form__input form-select", data: { reports_modal_target: "reportSelect" } %>

                        <hr class="hidden-element mb-0" data-reports-modal-target="divider">
                    </div>

                    <div class="form__field hidden-element" data-reports-modal-target="collaboratorSelect">
                        <%= f.label "Colaborador", class: "form__label" %> 
                        <%= f.hidden_field :user_id, data: {id: "hidden-input"}%>
                        <input type="text" name="users" class="form__input form-select search-bar" autocomplete="off" data-action="click->dropdown-search#openDropdown keyup->dropdown-search#searchInput" data-value="" placeholder="- Selecciona una opción -">
                        <div class="dropdown-list" data-dropdown-type="form">
                            <% @active_collaborators.each do |c| %>
                                <div class="dropdown-list__item" data-value="<%= c.id %>">
                                <%= c.fullname %>
                                </div>
                            <% end %>
                        </div>
                    </div>
                    
                    <div class="form_flex form_flex--row hidden-element--flex" data-reports-modal-target="dates">
                        <div class="form__field">
                            <%= f.label :start_date, 'Fecha de inicio', class: "form__label" %>
                            <%= f.date_field :start_date, class: "form__input" %>
                        </div>
                        
                        <div class="form__field">
                            <%= f.label :end_date, 'Fecha de fin', class: "form__label" %>
                            <%= f.date_field :end_date, class: "form__input" %>
                        </div>
                    </div>

                    <div class="form__field hidden-element" data-reports-modal-target="collaboratorReportType">
                        <%= f.label :collaborator_report_type, 'Tipo de reporte del colaborador', class: "form__label" %>
                        <%= f.select :collaborator_report_type, [['Reporte resumido', 'summary'], ['Reporte detallado', 'detailed']], {}, class: "form__input" %>
                    </div>

                    <div class="form__actions hidden-element" data-reports-modal-target="submitButton">
                        <%# link_to "Descargar PDF", activities_report_url, class: "button-primary button-primary--minutes", target: "_blank" %>
                        <%= button_tag "Generar", class: "button-primary", type: "button", id: "generate-button", data: {action: "click->reports-modal#submit"}, target: "_blank" %>
                    </div>
                <% end %>
            </div>
        </div>
    </div>
</div>