<main data-view-id="3" class="main">
  <div class="header">
    <div class="header__content">
      <div class="header__heading">
        <p class="header__subtitle">GESTIÓN DE ACTIVIDADES</p>
        <h1 class="header__title">CONTROL DE ACTIVIDADES</h1>
      </div>
      
      <div class="header__actions">
        <div class="header__actions header__actions--tablet responsive-width">
          <button type="button" data-bs-toggle="modal" data-bs-target="#reportModal" class="button-secondary">
            <%= image_tag('doc-icon.svg', alt: "icono generar reporte", class: "sidebar__icon") %>
            <span class="ms-1">Generar reporte</span>
          </button>

          <%= link_to new_activity_path, class: "button-primary" do %>
            <%= image_tag('add-icon.svg', alt: "icono registrar actividad", class: "sidebar__icon") %>
            <span class="ms-1">Registrar actividad</span>
          <% end %>
        </div>
      
        <%= render 'shared/sidebar_button' %>
      </div>
    </div>

    <div class="header__actions header__actions--phone">
      <button type="button" data-bs-toggle="modal" data-bs-target="#reportModal" class="button-secondary">
        <%= image_tag('doc-icon.svg', alt: "icono generar reporte", class: "sidebar__icon") %>
        <span class="ms-1">Generar reporte</span>
      </button>
      
      <%= link_to new_activity_path, class: "button-primary" do %>
        <%= image_tag('add-icon.svg', alt: "icono registrar actividad", class: "sidebar__icon") %>
        <span class="ms-1">Registrar actividad</span>
      <% end %>
    </div>
  </div>

  <%= render "activity_filters" %>

  <section class="card-list mb-4">
    <div class="d-flex justify-content-between align-items-center" data-controller="filters">
      <h4 class="card-list__title">
        <%= image_tag('card-list-icon.svg', alt: "icon lista de proyectos") %>
        ACTIVIDADES
      </h4>
      <a class="text-danger" id="clear-filters-button" style="display: none; text-decoration: none;" data-action="click->filters#clearFilters">Limpiar filtros &times;</a>
    </div>

    <div id="activities" class="card-list__items">
      <% @activities.each do |activity| %>
        <%= render activity %>
      <% end %>

      <% if !@q.result.any? %>
        <p class="text-center text-black-50 fst-italic my-4"><i class="bi bi-info-circle me-2"></i>Lista de actividades vacía</p>
      <% end %>
    </div>

    <% if !@activities.empty? %>
      <div class="card-list__pagination">
        <%= render "shared/pagination_count", object: @activities %>
        <%= will_paginate @activities, inner_window: 1 %>
      </div>
    <% end %>
  </section>

  <%= render 'report_modal', collaborators: @active_collaborators %>
</main>

