<main data-view-id="3" class="main">
  <div class="header">
    <div class="header__content">
      <div class="header__heading">
        <p class="header__subtitle">GESTIÓN DE ACTIVIDADES</p>
        <h1 class="header__title">LISTA DE ACTIVIDADES</h1>
      </div>
      
      <div class="header__actions">
        <div class="header__actions header__actions--tablet responsive-width">
          <%= link_to "#", class: "button-secondary" do %> <%# CAMBIAR A LA ACCION DE GENERAR REPORTE %>
            <%= image_tag('doc-icon.svg', alt: "icono generar reporte", class: "sidebar__icon") %>
            <span class="ms-1">Generar reporte</span>
          <% end %>

          <%= link_to new_activity_path, class: "button-primary" do %>
            <%= image_tag('add-icon.svg', alt: "icono registrar actividad", class: "sidebar__icon") %>
            <span class="ms-1">Registrar actividad</span>
          <% end %>
        </div>
      
        <%= render 'shared/sidebar_button' %>
      </div>
    </div>

    <div class="header__actions header__actions--phone">
      <%= link_to "#", class: "button-secondary" do %> <%# CAMBIAR A LA ACCION DE GENERAR REPORTE %>
        <%= image_tag('doc-icon.svg', alt: "icono generar reporte", class: "sidebar__icon") %>
        <span class="ms-1">Generar reporte</span>
      <% end %>
      
      <%= link_to new_activity_path, class: "button-primary" do %>
        <%= image_tag('add-icon.svg', alt: "icono registrar actividad", class: "sidebar__icon") %>
        <span class="ms-1">Registrar actividad</span>
      <% end %>
    </div>
  </div>

  <%= render "activity_filters" %>

  <section class="card-list mb-4">
    <h4 class="card-list__title">
      <%= image_tag('card-list-icon.svg', alt: "icon lista de proyectos") %>
      ACTIVIDADES
    </h4>

    <div id="activities" class="card-list__items">
      <% @activities.each do |activity| %>
        <%= render activity %>
      <% end %>
    </div>

    <div class="card-list__pagination">
      <%= will_paginate @activities %>
    </div>
  </section>
</main>

