<%= form_with(model: phase) do |form| %>
  <% if phase.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(phase.errors.count, "error") %> prohibited this phase from being saved:</h2>

      <ul>
        <% phase.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label "Código", style: "display: block" %>
    <%= form.text_field :code, class: "form-control", placeholder: "Ej: F1" %>
  </div>

  <div>
    <%= form.label "Nombre", style: "display: block" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Ej: Preparación del sitio" %>
  </div>

  <div class="actions mt-3">
    <%= form.submit phase.new_record? ? "Guardar" : "Actualizar", class: "btn btn-primary" %>
    <%= link_to "Regresar", phases_path, class: "btn btn-secondary" %>
  </div>
<% end %>
