<!-- <p style="color: green"><%= notice %></p> -->

<h1>LISTA DE FASES</h1>

<div id="phases">
  <% @phases.each do |phase| %>
    <%= render phase %>
    <div class="d-flex align-items-center mt-3 gap-1">
      <%= link_to "Ver detalles", phase, class: "btn btn-outline-primary" %>

      <% if !phase.has_associated_activities? %>
        <%= button_to 'Eliminar', phase, method: :delete, form:{ data: { turbo_confirm: '¿Está seguro(a) de que desea eliminar esta fase?' }} , class: "btn btn-outline-danger"%>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to "Agregar fase", new_phase_path, class: "btn btn-primary mt-3" %>
