<main data-view-id="6">
  <div class="header">
      <div class="header__content">
      <div class="header__heading">
        <p class="header__subtitle">GESTIÓN DE ACTIVIDADES</p>
        <h1 class="header__title">LISTA DE FASES</h1>
      </div>
      
      <div class="header__actions">
        <div class="header__actions header__actions--tablet">
          <%= link_to new_phase_path, class: "button-primary" do %>
            <%= image_tag('add-icon.svg', alt: "icono agregar fase", class: "sidebar__icon") %>
            <span class="ms-1">Agregar fase</span>
          <% end %>
        </div>
      
        <%= render 'shared/sidebar_button' %>
      </div>
    </div>

    <div class="header__actions header__actions--phone">
      <%= link_to new_phase_path, class: "button-primary" do %>
        <%= image_tag('add-icon.svg', alt: "icono agregar fase", class: "sidebar__icon") %>
        <span class="ms-1">Agregar fase</span>
      <% end %>
    </div>
  </div>
  
  <%= render 'phase_filters' %>

  <section class="card-list mb-4">
    <h4 class="card-list__title">
      <%= image_tag('card-list-icon.svg', alt: "icon lista de proyectos") %>
      FASES
    </h4>

    <div id="phases" class="card-list__items">
      <% @phases.each do |phase| %>
        <%= render phase %>
      <% end %>
    </div>

    <div class="card-list__pagination">
      <%= will_paginate @phases, inner_window: 1 %>
    </div>
  </section>
</main>