<!DOCTYPE html>
<html>
  <head>
    <title>SSAP - Nexus Studio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="d-flex" data-controller="sidebar">
      <% if current_user %>
        <%= render "shared/sidebar" %>
      <% end %>

      <div class="content <%= !current_user ? "sign-in" : "" %> container-fluid ps-3 pe-3">
        <%= render "shared/notifications" %>
        <%= yield %>
        <%= render "shared/sidebar_button" %>
      </div>
    </div>
  </body>
</html>
