<!DOCTYPE html>
<html>
  <head>
    <title>SSAP - Nexus Studio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= favicon_link_tag asset_path("favicon.ico") %>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,700;1,400;1,900&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="background-image: url(<%= asset_path('bg-login-image.jpg') if !current_user %>);">
    <div class="d-flex" data-controller="sidebar">
      <% if current_user %>
        <%= render "shared/sidebar" %>
      <% end %>

      <div class="content <%= !current_user ? "sign-in" : "" %> container-fluid ps-3 pe-md-4">
        <%= render "shared/notifications" %>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
