<!DOCTYPE html>
<html>
  <head>
    <title>SSAP - Nexus Studio</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <% if current_user %>
      <%= render "shared/navbar" %>
    <% end %>

    <%= render "shared/notifications" %>

    <div class="container-fluid col-11">
      <%= yield %>
    </div>
  </body>
</html>
